section > * {
	text-align: center;
	font-size: 3em;
	font-family: "sans";
}

.box {
	box-sizing: border-box;
	box-shadow: 1px 1px 2px #800;
	display: inline-block;
	width: 1em;
}
.box.c {
	border: 1px solid #AAA;
	background: aliceblue;
}
#not .box {
	transition: max-width 1s ease;
	max-width: 1em;
}
#not.vanish .box {
	max-width: 0em;
}

.th0 .vanish {
	transition: opacity 1s ease, transform 1s ease;
	display: inline-block;
	opacity: 0;
	transform: scale(0);
	transform-origin: 90% 50%;
}

.th1 #note {
	transition: opacity 1s ease;
	opacity: 0;
}
.th1 #note.visible {
	opacity: 1;
}

.th2 {
	transition: background-color 1s ease, color 1s ease;
}
.th2.off {
	background: black;
	color: white;
}
.th2.off .box.c {
	background: dimgrey;
}

.th3 #all {
	display: inline-block;
	transition: transform 1s cubic-bezier(.18,.89,.32,1.28);
	transform-origin: 0% 100%;
}
.th3 #all.rot {
	transform: rotate(90deg);
}
.th3 #all.rot.drop {
	transition: transform 1s ease;
	transform: rotate(90deg) translate(40em, 0);
}
