section > * {
	text-align: center;
	font-size: 3em;
	font-family: "sans";
}

.box {
	box-sizing: border-box;
	display: inline-block;
	width: 1em;
}
.box.c {
	border: 1px solid #AAA;
	background: aliceblue;
}

.th0 .vanish {
	transition: opacity 1s ease, transform 1s ease, max-width 0.75s ease;
	display: inline-block;
	opacity: 0;
	transform: scale(0);
	max-width: 0;
}

.th1 #note {
	transition: opacity 1s ease;
	opacity: 0;
}
.th1 #note.visible {
	opacity: 1;
}
